body
  background: $white
  line-height: 1.4
  font-size: $fz
  min-width: 320px
  font-family: 'helveticaneuecyr', Arial, sans-serif
  color: $c-text
  +no-scroll
  +sm
    font-size: $fz-sm-px

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.lazy
  &.is-loaded:not(.no-fade-in)
    animation: fadeIn 1s

.out
  padding-top: $header-height
  +lg
    padding-top: $header-height-lg

.main
  &__breadcrumbs
    margin-top: 15px
    margin-bottom: 25px

.logo
  display: inline-block
  font-size: 0
  +lg
    width: 90px

.mark-link
  display: block
  width: 100%
  height: 100%
  background-color: $white
  box-shadow: 0px 0px 9px 0px rgba(1, 0, 0, 0.1)
  +tr(box-shadow .3s)
  text-align: center
  +hover
    box-shadow: 0px 0px 19px 0px rgba(1, 0, 0, 0.23)
  &__img
    position: relative
    padding-top: 40%
    display: block
    img
      +vcenter
      z-index: 1
      max-height: 70%
      max-width: 70%
  &__title
    color: $blue
    display: block
    text-decoration: underline
    padding-top: em(10)
    padding-bottom: em(10)
    border-top: 1px solid $gray-lightest

.s-text
  max-height: 450px

.gallery-item
  +cover
  display: block
  padding-top: 14%
  width: percentage(3/12)
  position: relative
  // pointer-events: none
  +lg
    width: 33.33333%
    padding-top: 18%
  +md
    width: 50%
    padding-top: 25%
  +xs
    width: 100%
    padding-top: 40%
  +xxs
    padding-top: 60%
  &__img
    +cover
    position: absolute
    z-index: 1
    top: 0
    bottom: 0
    left: 0
    right: 30px
    right: var(--grid-gap, 30px)
  &--center
    padding-top: 24%
    width: 50%
    pointer-events: auto

.aside
  &__title
    background-color: $gray-lightest
    text-transform: uppercase
    text-align: center
    color: $c-title
    font-size: $fz-sm
    padding-top: .3em
    padding-bottom: .3em

.date
  font-size: 13px
  color: #bebebe
  +flex(flex-start, center)
  &__icon
    font-size: 0
    margin-right: 5px
    .icon
      font-size: 15px

.close
  +icon-close(20, 1, currentColor)
  display: block
  position: absolute
  z-index: 1
  +tr(color .3s)
  top: 15px
  right: 15px
  +hover
    color: $accent

.price
  // +flex(flex-start, flex-end)
  color: $accent
  &__label
    display: inline-block
    vertical-align: baseline  
    font-size: em(13)
    color: $c-text-light
  &__nmb
    display: inline-block
    vertical-align: baseline
    +css-lock(21, 32, 320, 1399, font-size)
    font-weight: 700
  &__curr
    display: inline-block
    vertical-align: baseline
    font-size: em(20)

.small
  font-size: em(13)
  color: $c-text-light
  display: block
    