---
title: models
page: models
hero: {
  bg: 'bg-hero-models.jpg',
  mod: '',
  titleH1: true,
  title: '<strong>John Deere</strong>',
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { item: 'John Deere', modItem: 'breadcrumbs__item-current' }
    ]
  }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-about-models.html" %}
  {% include "partials/sections/_s-models.html" %}
{% endblock %}
