<!-- begin scrollbar -->
<div class="scrollbar s-text article js-scrollbar">
  <h1>За що нас поважають (H1)</h1>
  <p>Компанія ТОВ «Лад і мир агро» є надійним партнером для <em>сільськогосподарського виробника.</em>  Головним принципом є надання професійної підтримки і забезпечення потреб в <strong>запасних</strong> частинах для агро техніки для кожного клієнта нашої компанії.</p>

  {% for i in range(0, 10) %}
  <ol>
    <li><strong>Надійність</strong> (Компанія ТОВ «Лад і мир агро» є надійним партнером для сільськогосп. виробника)</li>
    <li><strong>Оперативність</strong> (ми співпрацюємо з усіма офіційними представниками на території України, що дозволяє нам оперативно вирішувати доставку)</li>
    <li><strong>Якість</strong> ( Головним принципом є надання професійної підтримки і забезпечення потреб в запасних частинах для кожного клієнта компанії)</li>
  </ol>

  <h2>Переваги (H2)</h2>

  <ul>
    <li>Швидка доставка запчастин по території України</li>
    <li>Найкоротші строки поставок запасних частин з Європи і США під замовлення</li>
    <li>Наявність асортименту витратних матеріалів і дефіцитних запчастин</li>
    <li>АКЦІЙНІ ціни і мінімальна націнка</li>
  </ul>
  {% endfor %}
</div>
<!-- end scrollbar -->