<!-- begin section -->
<section class="section pb-0">
  <div class="container">
    <div class="grid">
      <div class="col col--sm-6">
        <div class="section__img js-lazy" data-background-image="./img/7.jpg"></div>
      </div>

      <div class="col col--sm-6">
        <!-- begin article -->
        <div class="article">
          <h3 class="title title--h3">Компанія заснована в 1837 році</h3>

          <p>Deere & Company (вимовляється Дір енд кампані) - американська машинобудівна компанія, що випускає сільськогосподарську, будівельну та лісозаготівельну техніку.  Найбільший в світі (на 2009 рік) виробник сільськогосподарської техніки.  Штаб-квартира компанії розташована в місті Молін. У 1907 році Deere & Company випускала цілу лінійку сталевих плугів, культиваторів, сівалок та іншого обладнання.</p>

          <p>Компанія випускає сільськогосподарську техніку (в тому числі трактори, комбайни і т. П.), Будівельну техніку, садово-паркове обладнання, снігоприбиральні машини, лісозаготівельну техніку, а також двигуни під маркою John Deere (часто і саму компанію називають John Deere).  Техніка John Deere забарвлюється в традиційні жовтий і зелений кольори.</p>

          <p>Заводи компанії розташовані в основному в США, а також Німеччини, Індії, Канаді та ін. У 2017 році «Deere & Company» придбала німецьку групу «Wirtgen Group», вартість угоди склала 4,4 мільярда євро. </p>
        </div>
        <!-- end article -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->