<!-- begin section -->
<section class="section pb-0">
  <div class="container">
    <div class="grid">
      <div class="col col--sm-6">
        <div class="section__img js-lazy" data-background-image="./img/5.jpg"></div>
      </div>

      <div class="col col--sm-6">
        <!-- begin article -->
        <div class="article">
          <h3 class="title title--h3">ТОВ «Лад і Мир Агро» заснована у 2001 році</h3>

          <p>Нами постійно розширюється спектр пропонованих товарів, а також підвищується рівень обслуговування покупців і наш магазин сільгосптехніки весь час оновлюється.
          Компанія «Лад і Мир Агро» працює завжди тільки з перевіреними покупцями, тому ми гарантуємо якість і прийнятні ціни не лише для постійних покупців, але й для нових</p>

          <h4 class="title title--h4">Компанія займається реалізацією запасних частин до:</h4>

          <ul>
            <li>Автомобільної техніки</li>
            <li>Тракторної техніки</li>
            <li>Сільськогосподарської техніки</li>
          </ul>

          <p>Компанія «Лад і Мир Агро» працює тільки з перевіреними постачальниками, тому ми гарантуємо якість і прийнятні ціни. А для постійних покупців ми надаємо можливість здійснювати оплату за товар в розстрочку. Якщо у Вас немає можливості забрати запчастини в одному з наших філій, ми організуємо оперативну доставку по Україні.
          </p>
        </div>
        <!-- end article -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->