<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="grid">
      <div class="col col--md-9">
        <!-- begin article -->
        <div class="article">
          <p>Ринок запчастин для сільгосптехніки широкий і різноманітний.  У цьому розмаїтті можна загубитися і розгубитися, обманутися і знайти те, що необхідно.  «Лад і Мир Агро» гарантує, що тут можна придбати все необхідне, найякісніші запчастини для вашої сільськогосподарської техніки: тракторів, культиваторів, сівалок, а також землерийної і автомобільної техніки.  Звернувшись до нас одного разу, ви станете нашим постійним клієнтом і другом. Оскільки ми дорожимо своєю репутацією і цінуємо дружбу, співпрацю з компанією «Лад і Мир Агро» для кожного стане складовою його роботи, необхідністю, без якої ви вже не зможете працювати.  </p>

          <blockquote>
            Інтернет-магазин запчастин сільськогосподарської техніки «Лад и Мир Агро» - найоптимальніший варіант вибрати і придбати необхідне, то, чого ви потребуєте.  Найширший асортимент!  Прекрасне співвідношення ціни і якості!  «Лад и Мир Агро» бере на себе відповідальність за якість кожної представленої в магазині одиниці - від найменшої запчастини до величезного агрегату.  Ми завжди працюємо тільки з перевіреними і надійними виробниками запчастин. Тому ви можете нам довіритися!
          </blockquote>

          <h1>Чому ми (H1)</h1>

          <p>Продаж <a href="#">запчастин</a> сільськогосподарської техніки в XXI столітті найчастіше здійснюється за допомогою інтернету.  При довірчих відносинах між постачальником і клієнтом зовсім не обов'язково шукану деталь «мацати» перед тим, як купити.  Наш каталог пропонованих запасних частин досить об'ємний і змістовний.  Тут представлені запчастини з докладним описом властивостей і їх зображенням, з обов'язковим зазначенням ціни.  Якщо ви точно не знаєте, що шукаєте, звернувшись до каталогу, обов'язково визначитеся зі своїм вибором. Наша мета - зробити все можливе (і неможливе) для збереження нашого іміджу та вашого спокою.</p>

          <p>Ми пропонуємо своїм клієнтам не тільки придбати <a href="#">запасні частини до сільгосптехніки</a>.  Справа в тому, що наші постійні клієнти - це наші партнери, наші друзі.  При необхідності фахівці компанії «Арлан» проконсультують, пояснять, допоможуть визначитися з вибором.Ми володіємо значною базою не тільки виробників товарів, які пропонуємо, але і клієнтів, які залишилися дуже задоволені.
          </p>

          <h2>Чому ми (H2)</h2>

          <p>Продаж <a href="#">запчастин</a> сільськогосподарської техніки в XXI столітті найчастіше здійснюється за допомогою інтернету.  При довірчих відносинах між постачальником і клієнтом зовсім не обов'язково шукану деталь «мацати» перед тим, як купити.  Наш каталог пропонованих запасних частин досить об'ємний і змістовний.  Тут представлені запчастини з докладним описом властивостей і їх зображенням, з обов'язковим зазначенням ціни.  Якщо ви точно не знаєте, що шукаєте, звернувшись до каталогу, обов'язково визначитеся зі своїм вибором. Наша мета - зробити все можливе (і неможливе) для збереження нашого іміджу та вашого спокою.</p>

          <p>Ми пропонуємо своїм клієнтам не тільки придбати <a href="#">запасні частини до сільгосптехніки</a>.  Справа в тому, що наші постійні клієнти - це наші партнери, наші друзі.  При необхідності фахівці компанії «Арлан» проконсультують, пояснять, допоможуть визначитися з вибором.Ми володіємо значною базою не тільки виробників товарів, які пропонуємо, але і клієнтів, які залишилися дуже задоволені.
          </p>

          <ul>
            <li>Епіцентр</li>
            <li>Леруа Мерлен </li>
            <li>Епіцентр</li>
            <li>Леруа Мерлен </li>
            <li>та інші</li>
          </ul>

          <blockquote>
            Інтернет-магазин запчастин сільськогосподарської техніки «Лад и Мир Агро» - найоптимальніший варіант вибрати і придбати необхідне, то, чого ви потребуєте.  Найширший асортимент!  Прекрасне співвідношення ціни і якості!  «Лад и Мир Агро» бере на себе відповідальність за якість кожної представленої в магазині одиниці - від найменшої запчастини до величезного агрегату.  Ми завжди працюємо тільки з перевіреними і надійними виробниками запчастин. Тому ви можете нам довіритися!
          </blockquote>

          <h2>Чому ми (H2)</h2>

          <p>Продаж <a href="#">запчастин</a> сільськогосподарської техніки в XXI столітті найчастіше здійснюється за допомогою інтернету.  При довірчих відносинах між постачальником і клієнтом зовсім не обов'язково шукану деталь «мацати» перед тим, як купити.  Наш каталог пропонованих запасних частин досить об'ємний і змістовний.  Тут представлені запчастини з докладним описом властивостей і їх зображенням, з обов'язковим зазначенням ціни.  Якщо ви точно не знаєте, що шукаєте, звернувшись до каталогу, обов'язково визначитеся зі своїм вибором. Наша мета - зробити все можливе (і неможливе) для збереження нашого іміджу та вашого спокою.</p>

        </div>
        <!-- end article -->
      </div>

      <div class="col col--md-3">
        {% include "partials/_aside.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->