<!-- begin section -->
<section class="section">
  <div class="container">
    <!-- begin article -->
    <div class="article">
      <img class="alignright js-lazy" alt="" src="" data-src="./img/1200.jpg"/>

      <h3 class="title title--h3">Доставка запчастин</h3>

      <p>Компанія «Лад і Мир Агро» з кожнем днем удосконалюється у питаннях доставки та способах оплати товару, тому ви з радістю можете користуватися нашими послугами.
      </p>

      <h4 class="title title--h4">Способи доставки:</h4>

      <ul>
        <li><strong>Самовивіз</strong> (можна забрати з нашого офісу у Києві за адресою: пр. Голосіївський, буд. 93, офіс 222);</li>
        <li><strong>Доставка кур'єром</strong> (у вас є можливість замовити доставку наших запчастин кур'єром по всій Україні. Вартість доставка від 100 грн (деталі уточнюйте у нашого консультанта);</li>
        <li><strong>Доставка Новою Поштою</strong> (по всій Україні за виключенням АР Крим та окупованих територій у зоні проведення АТО);</li>
        <li><strong>Доставка іншими транспортними компаніями</strong> (Нічний Експрес, Ін-Тайм,  Автолюкс,  САТ, Делівері);</li>
      </ul>

      <img class="alignright js-lazy" alt="" src="" data-src="./img/1162.jpg"/>

      <h3 class="title title--h3">Оплата за товар</h3>

      <p>Компанія «Лад і Мир Агро» приймає оплату різними способами. Якщо у способах, які ми вказали нижче ви не знайшли відповідного до ваших побажань, будь-ласка, зателефонуйте нашому менеджеру, та він проконсультує вас щодо доступних форматів оплати саме для вас. Наші телефони та e-mail ви можете знайти у розділі <a href="#">Контакти</a></p>

      <h4 class="title title--h4">Способи оплати:</h4>

      <ul>
        <li><strong>Оплата готівкою у нас в офісі</strong> (м. Київ) (При відвантаженні запчастин самовивозом оплата готівкою в касу компанії «Лад і Мир Агро»)</li>
        <li><strong>Оплата готівкою на картку ПриватБанк</strong> (Такий спосіб оплати заощадить вам 2% від вартості доставки.)</li>
        <li><strong>Накладений платіж</strong> (Оплата готівкою при отриманні товару. Ви оплачуєте товар тільки після того, як перевіряйте його на складі вантажоперевізника в своєму місті.  Після проплати в касі служби доставки, гроші передаються назад до нас.  А ви забираєте запчастини)</li>
        <li><strong>Оплата готівкою через будь-який банк України на наш розрахунковий рахунок</strong> (Після оформлення замовлення, ми випишемо рахунок на оплату вашого замовлення.  Рахунок ми відправимо на e-mail або на факс.  Замовлення можна оплатити готівкою через будь-який банк знаходиться на території України)</li>
        <li><strong>Безготівковий розрахунок з ПДВ</strong> (Після оформлення замовлення, необхідно вислати нам банківські реквізити Вашої компанії по факсу або на e-mail (дивіться в розділі Контакти).  Ми виставимо вам рахунок з ПДВ на вказану Вами e-mail або факс.С товаром поставляється весь пакет документів)</li>
        <li><strong>Безготівковий розрахунок для юридичних осіб і підприємців</strong> (Після оформлення замовлення, необхідно вислати нам банківські реквізити Вашої компанії по факсу або на e-mail (дивіться в розділі Контакти).  Ми виставимо вам рахунок від приватного предпрінімантеля на вказаний Вами e-mail.</li>
      </ul>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->